*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
:root{
  --azul-principal: #2196f3;
  --azul-medio: #0366b7;
  --azul-medio-hover: #3ca3f7;
  --azul-oscuro: #04487E;
  --color-blanco: #fff;
  --color-negro: #000;
  --color-rojo: #F32121;
  --rojo-hover: #f74c4c;
  --rojo-oscuro: #F56262;
  --color-verde: #00B612;
  --verde-hover: #11ce50;
  --verde-oscuro: #0AC438;
  --letra--tamaño--pequeña: 17px;
  --letra--tamaño--mediana: 20px;
  --letra--tamaño--grande: 45px;
  --height-input: 55px;
  --max--width: 1600px;
  --height-header: 60px;
  --padding: 10px;
  --cien-porci: 100%;
}
header{
  background-color: var(--azul-principal);
}
.home{
  height: var(--height-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  margin: 0 auto;
}
.home__bars{
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}
.home__icon{
  font-size: 40px;
  color: var(--color-blanco);
}
.home__logo{
  height: 50px;
}
.home__title{
  color: var(--color-blanco);
}

/* main */

main{
  width: var(--cien-porci);
  max-width: var(--max--width);
  margin: 0 auto;
}

/* Datos */

.datos{
  margin-top: 20px;
}
.datos__form{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.form__users{
  width: 700px;
  display: grid;
  flex-direction: column;
  grid-template-columns: auto auto;
  gap: 15px;
}
.user__label{
  font-size: var(--letra--tamaño--mediana);
  align-self: center;
}
.user__input{
  width: 400px;
  height: 45px;
  padding: var(--padding);
  font-size: var(--letra--tamaño--pequeña);
  border: none;
  border-bottom: solid 4px;
  border-color: var(--azul-principal);
}
.user__input:focus{
  outline: none;
  border: solid 4px;
  border-color: var(--azul-principal);
}

/* search */

.search{
  margin-top: 30px;
  display: flex;
  height: 40px;
  gap: 15px;
}
.search__lupa{
  width: 40px;
  height: 40px;
  background-color: var(--azul-principal);
  border: outset 3px;
  border-color: var(--azul-medio) var(--azul-oscuro) var(--azul-oscuro) var(--azul-medio);
}
.search__lupa:hover{
  background-color: var(--azul-medio-hover);
}
.search__lupa:active{
  border: inset 3px;
  border-color: var(--azul-medio) var(--azul-oscuro) var(--azul-oscuro) var(--azul-medio);
}
.search__lupa--icon{
  color: var(--color-blanco);
  font-size: 28px;
}
.form__input{
  width: 350px;
  height: 40px;
  border: solid 4px var(--azul-principal);
  padding: var(--padding);
  font-size: 1rem;
}
.form__input:focus{
  outline: none;
  border: solid 4px var(--azul-medio-hover);
}
.search__add{
  width: 80px;
  background-color: var(--azul-principal);
  height: 40px;
  color: var(--color-blanco);
  font-weight: 700;
  border: outset 3px;
  border-color: var(--azul-medio) var(--azul-oscuro) var(--azul-oscuro) var(--azul-medio);
}
.search__add:hover{
  background-color: var(--azul-medio-hover);
}
.search__add:active{
  border: inset 3px;
  border-color: var(--azul-medio) var(--azul-oscuro) var(--azul-oscuro) var(--azul-medio);
}

/* table */

.table{
  display: flex;
  flex-direction: column;
}

.table__table{
  border: 4px solid;
  border-color: var(--azul-principal);
  background-color: var(--azul-principal);
  margin-top: 30px;
  width: var(--cien-porci);
}
.table__body{
  border: 1px solid;
  border-color: var(--azul-principal);
  padding: 8px;
  text-align: left;
  background-color: var(--color-blanco);
}
.table--primer{
  width: 150px;
}
.table--name{
  width: 380px;
  height: 40px;
}
.table--segundo{
  width: 200px;
}
.table--last{
  width: 150px;
}
.table__input{
  width: var(--cien-porci);
  height: 25px;
  border: none;
  font-size: var(--letra--tamaño--pequeña);
}
.table__input:focus{
  outline: none;
}
.table__fin{
  width: 245px;
  margin-top: 5px;
  border: 3px solid;
  border-color: var(--azul-principal);
  background-color: var(--azul-principal);
  align-self: flex-end;
}
.table--press{
  height: 40px;
}

/* botones */

.botones{
  margin-top: 30px;
  width: var(--cien-porci);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.botones__boton{
  width: 150px;
  height: 40px;
  color: var(--color-blanco);
  font-size: var(--letra--tamaño--pequeña);
  font-weight: 600;
}
.boton--eliminar{
  background-color: var(--color-rojo);
  border: outset 3px;
  border-color: var(--rojo-hover) var(--rojo-oscuro) var(--rojo-oscuro) var(--rojo-hover);
}
.boton--eliminar:hover{
  background-color: var(--rojo-hover);
}
.boton--eliminar:active{
  border: inset 3px;
  border-color: var(--rojo-oscuro) var(--rojo-hover) var(--rojo-hover) var(--rojo-oscuro);
}
.boton--pagar{
  outline: none;
  background-color: var(--color-verde);
  border: outset 3px;
  border-color: var(--verde-hover) var(--verde-oscuro) var(--verde-oscuro) var(--verde-hover);
}
.boton--pagar:hover{
  background-color: var(--verde-hover);
}
.boton--pagar:active{
  border: inset 3px;
  border-color: var(--verde-oscuro) var(--verde-hover) var(--verde-hover) var(--verde-oscuro);
}

/* Info */

.info{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.info__copy{
  font-size: var(--letra--tamaño--pequeña);
}