*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
:root{
  --bgd--azul--principal: #2196f3;
  
  --letra--tamaño--pequeña: 17px;
  --letra--tamaño--mediana: 20px;
  --letra--tamaño--grande: 45px;
  --height--input: 55px;
  --max--width: 1850px;
  --height--header: 60px;
  --padding: 10px;
}
header{
  background-color: var();
}
.home{
  height: var();
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var();
  margin: 0 auto;
}
.home__bars{
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}
.home__icon{
  font-size: 40px;
  color: var();
}
.home__logo{
  height: 50px;
}
.home__title{
  color: var();
}
/* search */
.search{
  display: flex;
  height: 40px;
  gap: 15px;
}
.search__lupa{
  width: 40px;
  height: 40px;
  background-color: var();
  border: outset 2px var();
}
.search__lupa:hover{
  background-color: var();
}
.search__lupa:active{
  background-color: var();
  border: inset 2px var();
}
.search__lupa--icon{
  color: var();
  font-size: 30px;
}
.search__form{

}
.form__input{
  width: 300px;
  height: 40px;
  border: solid 2px var();
  padding: var();
  font-size: 1rem;
}
.form__input:focus{
  outline: none;
  border: solid 2px var();
}
.search__add{
  width: 80px;
  background-color: var();
  height: 40px;
  color: var(--color--blanco);
  font-weight: 700;
  border: outset 2px var();
}
.search__add:hover{
  background-color: var();
}
.search__add:active{
  background-color: var();
  border: inset 2px var();
}
