@import url(global.css);

body{
  background-image: url(../../assets/Imagenes/fondoArreglo.jpg);
  background-repeat: no-repeat;
  background-size: 205vh;
  background-position: center;
  color: var(--azul-oscuro);
  font-size: var(--font-size-grande);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.header__logo {
  height: 80px;
  margin-left: 250px;
  margin-top: 30px;
}
.register{
  background-color: var(--color-blanco);
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: var(--padding-grander);
  border: solid var(--border-input) var(--azul-oscuro);
  border-radius: var(--border-radius-grande);
}
.register__form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.register__input-group{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.register__input-wrapper{
  width: 100%;
  display: flex;
  position: relative;
}
.register__icon{
  font-size: 2.5rem;
  position: absolute;
  top: 8px;
  left: 10px;
}
.register__input{
  width: var(--width-input);
  height: var(--height-input);
  padding-left: 58px;
  font-size: 0.95rem;
  border: none;
  border-bottom: solid var(--border-ancho) var(--azul-oscuro);
}
.register__input:focus{
  border: solid var(--border-ancho) var(--azul-oscuro);
}
option{
  font-size: 1rem;
}

/* BOTONES */

.register__buttons{
  align-self: end;
}
.register__button{
  padding: var(--padding);
  font-size: var(--font-size-normal);
}
.register__button--primary{
  color: var(--color-blanco);
  background-color: var(--azul-oscuro);
}
.register__button--primary:hover{
  background-color: var(--azul-medio);
}
.register__button--secondary{
  background-color: var(--color-blanco);
}
.register__button--secondary:hover{
  background-color: var(--azul-medio);
  color: var(--color-blanco);
}
.error{
  color: var(--color-rojo);
  border: solid var(--border-input) var(--color-rojo);
  border-radius: var(--border-radius);
}
.error__icon{
  color: var(--color-rojo);
}