* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --bgd--blanco: #fff;
  --bgd--negro: #000;
  --bgd--azul--principal: #2196f3;
  --bgd--azul--boton: #37a0f4;
  --bgd--rey--boton: #1d5a8a;
  --color--azul--principal: #2196f3;
  --color--negro: #000;
  --color--blanco: #fff;
  --color--azul--oscuro: #023761;
  --color--red: red;
  --color--azul--link: #336a95;
  --border--azul--oscuro: #023761;
  --border--azul--pricipal: #2196f3;
  --letra--tamaño--pequeña: 17px;
  --letra--tamaño--mediana: 20px;
  --letra--tamaño--grande: 45px;
  --max-width: 1204px;
  --positon-center: center
}

.box {
  max-width: var(--max-width);
  margin: 0 auto;
}

body {
  background-image: url(../../assets/Imagenes/fondoArreglo.jpg);
  background-repeat: no-repeat;
  background-size: 205vh;
  background-position: var(--positon-center);
}


.header__logo {
  height: 80px;
  margin-left: 250px;
  margin-top: 30px;
  font-family: 'Ubuntu',sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.login {
  background-color: var(--bgd--blanco);
  width: 550px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  border: 5px solid var(--border--azul--oscuro);
  border-radius: 20px;
}

.login__title {
  font-size: var(--letra--tamaño--grande);
  color: var(--color--azul--oscuro);
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login__input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login__label {
  font-size: var(--letra--tamaño--mediana);
  color: var(--color--azul--oscuro);
}

.login__input-wrapper {
  width: 100%;
  display: flex;
  position: relative;
}

.login__icon {
  font-size: 40px;
  color: var(--color--azul--oscuro);
  position: absolute;
  top: 8px;
  left: 10px;
}

.login__input {
  padding-left: 55px;
  border: none;
  border-bottom: 4px solid var(--border--azul--oscuro);
  font-size: var(--letra--tamaño--mediana);
  width: 420px;
  height: 55px;
}

.login__input:hover {
  border-bottom: 4px solid #115791;
}

.login__input:focus {
  outline: none;
  border: 4px solid var(--bgd--rey--boton);
  border-radius: 8px;
}

.login__error {
  display: none;
  color: var(--color--red);
}

.login__buttons {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 30px;
}

.login__button {
  width: 280px;
  height: 45px;
  font-size: var(--letra--tamaño--pequeña);
  border-radius: 100px;
  color: var(--color--blanco);
  font-weight: 600;
  border: none;
}

.login__button--primary {
  background-color: var(--bgd--azul--boton);
  border-width: 3px;
  border-style: outset;
  border-color: #0166b9;
}

.login__button--primary:hover {
  background-color: #0a8af3;
}

.login__button--primary:active {
  background-color: #077fe1;
  border-width: 3px;
  border-style: inset;
  border-color: #259dff;
}

.login__button--secondary {
  background-color: #155688;
  border: 3px outset #2196f3;
}

.login__button--secondary:hover {
  background-color: #2677b6;
}

.login__button--secondary:active {
  background-color: #095fa1;
  border-width: 3px;
  border-style: inset;
  border-color: #259dff;
}
